absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.8.1
aniso8601==9.0.1
anndata==0.7.8
annoy==1.17.1
anyio==3.6.1
anytree==2.8.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
asgiref==3.5.2
astropy==5.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autodocsumm==0.2.7
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
Bashutils==0.0.4
bbknn==1.5.1
beautifulsoup4==4.11.1
besca==2.4
bioservices==1.10.4
biothings-client==0.2.6
black==22.1.0
bleach==4.1.0
cachetools==5.0.0
cachey==0.2.1
cattrs==22.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
cloudpickle==2.0.0
cmasher==1.6.3
colorama==0.4.5
colorlog==6.7.0
colorspacious==1.1.2
commonmark==0.9.1
ConfigArgParse==1.5.3
connection-pool==0.0.3
cycler==0.11.0
Cython==0.29.28
DAMM @ file:///home/campbell/yulee/DAMM/pack
dask==2022.5.2
dask-image==2021.12.0
datrie==0.8.2
dcor==0.5.3
debugpy==1.5.1
decorator==5.1.1
DeepCell==0.12.0
DeepCell-Toolbox==0.11.2
DeepCell-Tracking==0.5.7
defusedxml==0.7.1
Deprecated==1.2.13
detecta==0.0.5
Django==4.1.2
dm-tree==0.1.7
docrep==0.3.2
docstring-parser==0.14.1
docutils==0.17.1
dominate==2.7.0
dunamai==1.13.0
e13tools==0.9.6
easydev==0.12.0
easydict==1.10
einops==0.4.1
entrypoints==0.4
et-xmlfile==1.1.0
evaluation==0.0.2
exceptiongroup==1.0.0rc9
executing==0.8.2
fasteners==0.17.3
fastjsonschema==2.16.1
fbpca==1.0
fcsparser==0.2.4
fdasrsf==2.3.7
filelock==3.6.0
findiff==0.8.9
Flask==2.2.2
Flask-RESTful==0.3.9
flatbuffers==1.12
FlowCytometryTools==0.5.1
FlowIO==0.9.5
FlowSom==0.1.1
FlowUtils==0.9.1
fonttools==4.29.1
freetype-py==2.3.0
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gast==0.4.0
geosketch==1.2
get_version==3.5.4
gevent==22.8.0
gitdb==4.0.9
GitPython==3.1.26
glog==0.3.1
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
GPy==1.10.0
graphtools==1.5.2
graphviz==0.14.2
greenlet==1.1.3.post0
grequests==0.6.0
grpcio==1.34.1
gseapy==0.10.4
h5py==3.1.0
harmonypy==0.0.5
HeapDict==1.0.1
hsluv==5.0.3
idna==3.3
igraph==0.9.9
image==1.5.33
imageio==2.15.0
imagesize==1.3.0
imbalanced-learn==0.7.0
importlib-metadata==4.11.1
importlib-resources==5.4.0
inflect==6.0.0
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.9.1
ipython==8.1.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jarowinkler==1.2.1
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.10
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyter-server==2.7.3
jupyterlab==3.4.5
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jupyterlab_server==2.15.1
KDEpy==1.0.10
keras==2.8.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
layers==0.1.5
legacy-api-wrap==1.2
leidenalg==0.8.8
libclang==13.0.0
lightning-bolts @ git+https://github.com/PytorchLightning/pytorch-lightning-bolts.git@64c4bac1aabeea88a4d577e2522752f5ec685e9a
lightning-utilities==0.6.0
littleutils==0.2.2
llvmlite==0.39.0
locket==1.0.0
loguru==0.5.3
loompy==3.0.7
lxml==4.8.0
magicgui==0.4.0
Mako==1.2.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
MiniSom==2.2.9
mistune==2.0.4
mizani==0.8.1
mongoengine==0.20.0
mpldatacursor==0.7.1
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.2
multimethod==1.7
munkres==1.1.4
mygene==3.2.2
mypy-extensions==0.4.3
napari==0.4.16
napari-console==0.0.4
napari-plugin-engine==0.2.0
napari-svg==0.1.6
natsort==8.1.0
nbclassic==0.3.7
nbclean==0.3.2
nbclient==0.6.3
nbconvert==7.0.0
nbformat==5.4.0
nbgrader==0.8.0
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.8
notebook-shim==0.1.0
npe2==0.3.0
numba==0.56.0
numcodecs==0.10.2
numexpr==2.8.1
numpy==1.22.0
numpy-groupies==0.9.19
numpydoc==1.3.1
oauthlib==3.2.0
omnipath==1.0.5
opencv-python==4.6.0.66
opencv-python-headless==4.5.5.62
openpyxl==3.0.6
opt-einsum==3.3.0
ordereddict==1.1
outdated==0.2.1
packaging==21.3
palettable==3.3.0
pandas==1.4.1
pandas-flavor==0.2.0
pandocfilters==1.5.0
paramz==0.9.5
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
phate==1.0.7
PhenoGraph==1.5.7
pickleshare==0.7.5
Pillow==9.0.1
PIMS==0.6.1
pingouin==0.3.12
Pint==0.19.2
platformdirs==2.5.0
plotly==5.10.0
plotnine==0.10.1
pluggy==1.0.0
pooch==1.6.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
psygnal==0.3.5
ptyprocess==0.7.0
PuLP==2.6.0
pure-eval==0.2.2
py==1.11.0
pyamg==4.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pyDeprecate==0.3.2
pydot==1.4.2
pyerfa==2.0.0.1
pyFFTW==0.13.1
Pygments==2.11.2
PyGSP==0.5.1
pymongo==3.12.3
pynndescent==0.5.7
PyOpenGL==3.1.6
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
pyro-api==0.1.2
pyrsistent==0.18.1
python-dateutil==2.8.2
python-gflags==3.1.2
python-igraph==0.9.9
pytomlpp==1.0.11
pytorch-lightning==1.9.0
pytorch-lightning-bolts==0.3.2.post1
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
rapidfuzz==2.6.0
ratelimiter==1.2.0.post0
rdata==0.6
requests==2.27.1
requests-cache==0.9.6
requests-oauthlib==1.3.1
rich==12.0.1
rsa==4.8
s-gd2==1.8
scanorama==1.7.2
scanpy @ git+https://github.com/theislab/scanpy.git@2e98705347ea484c36caa9ba10de1987b09081bf
scikit-datasets==0.1.38
scikit-fda==0.5
scikit-image==0.19.2
scikit-learn==0.24.2
scipy==1.6.0
scprep==1.1.0
scrublet==0.2.3
sctriangulate==0.12.0
scvelo==0.2.4
seaborn==0.11.2
seaborn-image==0.5.0
segmentation-mask-overlay==0.3.2
Send2Trash==1.8.0
session-info==1.0.0
setuptools-scm==7.0.5
shap==0.38.1
Shapely==1.7.1
SimpleITK==2.1.1.2
sinfo==0.3.4
six==1.15.0
slicer==0.0.7
slicerator==1.1.0
smart-open==5.2.1
smmap==5.0.0
snakemake==6.15.5
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spektral==1.0.6
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.40
sqlparse==0.4.3
squidpy==1.2.0
stack-data==0.2.0
statsmodels==0.13.5
stdlib-list==0.8.0
stopit==1.1.2
suds-community==1.1.2
superqt==0.3.2
sympy==1.9
tables==3.7.0
tabulate==0.8.9
tasklogger==1.1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.2
tensorflow-addons==0.16.1
tensorflow-estimator==2.8.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
texttable==1.6.4
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2022.2.9
tinycss2==1.1.1
tomli==2.0.1
toolz==0.11.2
toposort==1.7
torch==1.12.1
torchmetrics==0.9.1
torchvision==0.13.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typeguard==2.13.3
typer==0.4.1
typing_extensions==4.3.0
umap-learn==0.5.3
uncertainties==3.1.6
url-normalize==1.4.3
urllib3==1.26.8
utils==1.0.1
validators==0.20.0
vispy==0.10.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.2.2
widgetsnbextension==3.5.2
wrapt==1.12.1
xarray==0.21.1
xgboost==1.5.2
xlrd==1.2.0
xmltodict==0.13.0
yarl==1.7.2
yattag==1.14.0
yellowbrick==1.2
zarr==2.12.0
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.5.0
